html, body, #app {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

textarea {
    resize: none;
    font-family: "Iosevka";
    font-size: 1.5rem;
}

li {
    cursor: pointer;
}

li:hover {
    color: deepskyblue;
}

li.selected {
    font-weight: bolder;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
