html, body, .ui {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.ui {
    background: #191616;

    > .pane {
        width: 100%;
        height: 100%;
    }
}

/* Begin Pane */

.pane {
    display: flex;
    flex-direction: row;
}

.pane > .resizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pane > .resizer > .handle {
    background: #362E2E;
    height: 30px;
    align-self: stretch;
    cursor: col-resize;
}

.pane > .resizer > .line {
    flex: 1;
    width: 1px;
    background: #362E2E;

    $gap: 4px;
    &:nth-child(1) {
        margin-bottom: $gap;
    }
    &:nth-child(3) {
        margin-top: $gap;
    }
}

.pane > .rhs {
    flex: 1 1 0%;
}

.pane > .lhs > *, .pane > .rhs > * {
    width: 100%;
    height: 100%;
}

/* End Pane */
