@font-face {
    font-family: 'Euclic Circular A Bold Italic';
    src: url(font/euclid_circular_a_bold_italic.ttf);
}

@font-face {
    font-family: 'Euclic Circular A Regular';
    src: url(font/euclid_circular_a_regular.ttf);
}

html, body, .ui {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

$bg: #191616;

.ui {
    background: $bg;

    > .pane {
        width: 100%;
        height: 100%;
    }
}

/* Begin Pane */

.pane {
    display: flex;
    flex-direction: row;
}

.pane > .resizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pane > .resizer > .handle {
    background: #362E2E;
    height: 30px;
    align-self: stretch;
    cursor: col-resize;
}

.pane > .resizer > .line {
    flex: 1;
    width: 1px;
    background: #362E2E;

    $gap: 4px;
    &:nth-child(1) {
        margin-bottom: $gap;
    }
    &:nth-child(3) {
        margin-top: $gap;
    }
}

.pane > .rhs {
    flex: 1 1 0%;
}

.pane > .lhs > *, .pane > .rhs > * {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* End Pane */

/* Begin Button */

$fg: #FBFBFB;

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 54px;
    flex-shrink: 0;

    background: none;
    border: 1px solid $fg;
    color: $fg;

    > img {
        width: 22px;
        height: auto;
        margin-right: 2px;
    }

    font-family: 'Euclic Circular A Bold Italic';
    font-size: 18px;

    margin: 0;
    padding: 0 20px;

    cursor: pointer;
    user-select: none;
}

.button:hover {
    background: $fg;
    color: $bg;
    > img {
        filter: invert(1);
    }
}

/* End Button */

/* Begin Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar > .button {
    align-self: stretch;
    margin: 8px;
}

/* End Sidebar */

/* Begin Repo */

.repo {
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.repo .content {
    display: flex;
    flex-direction: column;

    margin-left: 8px;

    overflow-x: hidden;
    overflow-y: auto;

    padding-bottom: 48px;
}

.repo input {
    margin: 8px;
    // Because Settings button already adds a gap
    margin-top: 0px;

    padding: 4px 8px;

    height: 22px;
    flex-shrink: 0;

    background: none;
    border: 1px solid $fg;
    color: $fg;

    font-family: 'Euclic Circular A';
    font-size: 14px;

    &:focus {
        outline: none;
    }
}

.repo .service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }

    > .name {
        font-family: 'Euclic Circular A Regular';
        color: $fg;
        font-size: 16px;

        margin-bottom: 6px;
    }
}

.repo .method {
    display: flex;
    flex-direction: row;

    height: 40px;

    > .uplink {
        margin-left: 14px;

        width: 20px;
        height: 40px;
    }

    > .name {
        align-self: center;

        cursor: pointer;

        border: 1px solid $fg;
        box-sizing: border-box;
        padding: 6px;
        
        font-family: 'Euclic Circular A Regular';
        color: $fg;
        font-size: 18px;

        &:hover {
            background: $fg;
            color: $bg;
        }
    }
}

/* End Repo */

/* Begin Scrollbar */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: none;
}

$thumb-color: #413838;

::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($thumb-color, 5%);
}

::-webkit-scrollbar-thumb:active {
    background: lighten($thumb-color, 10%);
}

/* End Scrollbar */

/* Begin Main */

.ui .lhs {
    min-width: 200px;
}

.ui .rhs {
    min-width: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main .tabs {
    height: 54px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    
    border: 1px solid #736363;
    border-left: none;
    border-right: none;

    padding: 4px;
    margin-top: 8px;

    overflow: auto;
}

// Supposed to be applied to .tabs, but doesn't work that way... because of some reasons
.main ::-webkit-scrollbar-thumb {
    border: 2px solid $bg;
    border-top: none;
}

.main ::-webkit-scrollbar {
    height: 6px;
}

.main .tab {
    border: 1px solid $fg;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-right: 4px;
    &:last-child {
        margin-right: 0;
    }
}

.main .tab .name {
    font-family: 'Euclic Circular A Regular';
    color: $fg;
    font-size: 18px;

    &:hover {
        color: $bg;
    }
}

.main .tab .close {
    > img {
        width: 18px;
        height: auto;
    }

    &:hover > img {
        filter: invert(1);
    }
}

.main .tab .name, .main .tab .close {
    padding: 0 6px;
    display: flex;
    align-items: center;

    &:hover {
        background: $fg;
    }
}

.main .pane {
    flex: 1;
}

/* End Main */
