html, body, #app {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

textarea {
    resize: none;
}

li {
    cursor: pointer;
}

li:hover {
    color: deepskyblue;
}

li.selected {
    font-weight: bolder;
}
